#dnf-diagram-grid {
    display: grid;
    grid-template-areas:
        ".            .      .      .      packagekit ."
        ".            libdnf libdnf libdnf libdnf     ."
        ".            libdnf libdnf libdnf libdnf     libdnf-plugins"
        ".            libdnf libdnf libdnf libdnf     ."
        "dnf-plugins  .      dnf    .      microdnf   .";
    grid-template-columns: 1fr 19px;
}

#libdnf-grid {
    display: grid;
    grid-template-areas:
        "libdnf-label  libdnf-label libdnf-label"
        "hawkey        .            libhif"
        "python-hawkey .            libhif";
    grid-template-columns: 1fr 2fr 1fr;
}

#libdnf {
    grid-area: libdnf;
    z-index: unset;
    background-color: #51a2da;
}

#libdnf-label {
    grid-area: libdnf-label;
    text-align: left;
    padding: 10px;
}

#hawkey {
    grid-area: hawkey;
    background-color: #e59728;
}

#python-hawkey {
    grid-area: python-hawkey;
    background-color: #e59728;
}

#libhif {
    grid-area: libhif;
    background-color: #e59728;
}

#dnf {
    grid-area: dnf;
    width: 140px;
    background-color: #a07cbc;
}

#microdnf {
    grid-area: microdnf;
    background-color: #a07cbc;
}

#packagekit {
    grid-area: packagekit;
    background-color: #a07cbc;
}

#dnf-plugins {
    grid-area: dnf-plugins;
    background-color: #32db9a;
    font-size: 62%;
    width: 162px;
}

#libdnf-plugins {
    grid-area: libdnf-plugins;
    background-color: #32db9a;
    font-size: 62%;
    width: 162px;
}

.dnf-diagram-block {
    float: left;
    margin: 10px;
    padding: 8px;
    border: 1px solid rgb(200, 200, 200);
    border-radius: 16px;
    box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.2);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dnf-diagram-line {
    position: absolute;
    width: 3px;
    background-color:rgba(0, 0, 0, 0.527);
}